.gif-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

    form{
        margin: 20px;
        width: 340px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(110deg, red,orange,yellow,green,blue,indigo,violet);
        border-radius: 12px;
        
        input[type='text'] {
            font-family: 'Poppins';
            width: 230px;
            height: 35px;
            border-radius: 8px;
            background-color: rgb(14, 13, 13);
            color: white;
            padding-left: 7px;
            
            &::placeholder{
                color: white;
                padding: 2px;
                padding-left: 2px;
            }
        }
        input[type='submit'] {
            font-family: 'Poppins';
            margin-left: 7px;
            width: 60px;
            height: 35px;
            border-radius: 8px;
            border: none;
            background-color: rgb(28, 88, 28);
            color: white;
        }
    }

    .gif-btn{
        display: flex;
        align-items: center;
        justify-content: center;

        button{
            margin: 5px;
            width: 65px;
            height: 40px;
            border-radius: 8px;
            background: linear-gradient(130deg, red,orange,yellow,violet);
            color: rgb(53, 41, 41);
            font-family: 'Poppins';
            font-weight: 200;

        }
    }

    .gif-container{
        padding: 5px;
        border-radius: 12px;
        max-width: 1500px;

        .loader {
            margin-top: 120px;
            border: 8px solid #f3f3f3; /* Light grey */
            border-top: 10px solid #2e8f4e; /* Blue */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
          }
          
          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }
        
        ul{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            
            
            li{
                position: relative;
                padding: 5px;
                margin: 7px;
                width: 335px;
                border-radius: 10px;
                background: linear-gradient(110deg, red,orange,yellow, blue);
                
                .gif-img{
                    position: relative;
                    button{
                        position: absolute;
                        background: url('https://img.icons8.com/pastel-glyph/35/ffffff/download.png') center/cover;
                        right: 15px;
                        bottom: 15px;
                        border-radius: 5px;
                        height: 38px;
                        width: 38px;
                        background-color: rgba(0, 0, 0, 0.329);
                    }
                    
                    img{
                        width: 325px;
                        height: 390px;
                        border-radius: 10px;
                    }
                }
                .text{
                    background-color: rgb(20, 20, 20);
                    color: white;
                    padding: 2px;
                    margin: 4px;
                    border-radius: 8px;

                    
                }
            }
        }
    }
}


@media (max-width:442px) {
    .gif-app{

        form{
            width: 290px;
            padding: 5px;
        }

        .gif-container{
            ul{
                li{
                    width: 260px;
                    .gif-img{

                        img{
                            width: 245px;
                            height: 290px;
                        }
                    }
                }
            }
        }
    }
    
}