@import './giffapp';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
}


body{
    overflow-x: hidden;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.App{
    text-align: center;
    margin: 80px;

    h1{
        color: white;

        span#giff{
            font-size: 30px;
            color: white;
            border-radius: 10px;
            letter-spacing: 3px;
            background: linear-gradient(110deg, red,orange,rgb(151, 151, 58));
        }
    }
}


@media (max-width:372px) {
    *{
        margin: 0;
        padding: 0;
    }
    .App{
        margin: 10px;
        padding: 5px;
    }
}

